.formContainerCreate{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 20px;
}

.paperFormCreate {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding-bottom: 20px;
    font-size: 20pt;
    
}
.firstFieldCreate {
    color: #005295;
}

.title-form{
    display: flex;
    width: 100;
    margin:auto;
    justify-content: center;
    margin-top:30px;
    margin-bottom:30px;
    font-size: 25px;
    font-weight: bold;
}

.btn-send{
    margin:auto;
    margin-bottom: 20px;
}
@media (min-width: 1000px) {
    .paperFormCreate {
        width: 40%;
    }
}

form {
    margin-top: 10%;
    align-self: center;
    justify-self: center;
}

h3 {
    text-align: center;
    color: #005295;
}

