.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #005295;
    align-items: center;
    font-weight: 500;
    padding: 30px;
    background-color: var(--white);
   border-bottom: 1px solid gray;
}
.logout{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.bienvenida{
    width:120px;
    height:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

h3{
    display: inline;
    margin-bottom: -15px;
    text-transform: uppercase;
}

h6{
    color:#005295
}