.menu-item {
  width: 100%;
}

.menu-item a {
  text-decoration: none;
}

.menuItem-container{
  display: flex;
  cursor: pointer;
  gap: 20px;
}

.menuItem-container img {
 width: 80px;
}

.menuItem-container span {
  font-size: 24px;
  font-family: Open Sans;
  color: var(--panton-653);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: rgb(197, 196, 196);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}