body{
    background-color: white;
}
.cardSchool{
    margin-right: 25%;
    margin-left: 25px;
    margin-top: 10%;
    padding: 15px;
    width: 70%;
    background-color: rgba(251, 253, 255, 0.986);
    -webkit-box-shadow: 0px 0px 15px 6px rgba(144, 144, 144, 0.5); 
    box-shadow: 0px 0px 15px 6px rgba(156, 156, 156, 0.5);;
    display: flex;
    border-radius: 3% ;
    font-family: OpenSans,Helvetica,sans-serif;
    font-size: x-large;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    
}
.aggSchool{
    text-align: center;
    position: relative;
    flex-direction: column;
}

.newSchools{
    width: 90%;
    margin-left: 7%;
}

.cardSchools{
    width: 90%;
    margin: auto;
    /*margin-right: 25px;*/
    display: grid;
    flex-flow: row wrap;
    /*grid-template-columns: 33% 33% 33%;*/
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.colegio{
    color: var(—panton-653);
    font-family: Open Sans;
}
.iconAdd{
    margin-top: 20px;
}
.iconSearch, .iconDelete, .iconEdit{
    color: #000;
    margin-top: 10px;
}

.titulo{
    margin-top: 20px;
}

.titulo img{
    margin:auto;
    width: 50px;
    height: 50px;
}

.titleSchool h3{
    color: #005295;
    font-size: 25px;
    font-family: Open Sans;
    text-align: center;
    }
