.page-container {
  display: flex;
  justify-content:right;
  margin-right: 10%;
  margin-top: 15%;
  align-items:flex-end;
  
}


h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:#005295;

}
.page-c{
  display: flex;
  justify-content:left;
  margin-right: 10%;
  margin-left: 15%;
  margin-top: 15%;
  align-items: center;
}