.formContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-self: center;
    margin-top: 10%;
}

.paperForm {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-self: center;
    width: 60vw;
    height: 70vh;
    margin: auto;
}
.firstField {
    margin-top: 10%;
}
@media (min-width: 1000px) {
    .paperForm {
        width: 20vw;
        height: 50vh;
    }
}

form {
    overflow-y: scroll;
}